<% provide(:title, 'All Users') %>
<% provide(:class_text, 'edit') %>
<% provide(:button_text, '編集する') %>

<h1><%= @text %></h1>

<div class="col-md-10 col-md-offset-1">
  <div class="search-form pull-right">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索", class:"btn-primary" %>
    <% end %>
  </div>
  

</div>
<%= will_paginate %>
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file, accept: '.csv' %>
  <%= submit_tag "インポート", class: "btn-primary" %>
<% end %>
<table class="table table-condensed table-hover" id="table-users">
  <% @users.each do |user| %>
  <thead>
    <tr>
      <th>
        <%= user.name %>
      </th>
    </tr>
  </thead>
  
    <tr>
      <td class="btn-group">
        <% if current_user.admin && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
        <br></br>
        <button class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#user-<%= user.id %>">編集</button>
        <div id="user-<%= user.id %>" class="collapse">
          <%= form_with(model: user, local: true, method: :patch) do |f| %>

            <%= f.label :name, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :name, class: "form-control" %>
          
            <%= f.label :email, class: "label-#{yield(:class_text)}" %>
            <%= f.email_field :email, class: "form-control" %>
            
            <%= f.label :department, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :affiliation, class: "form-control" %>
            
            <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :employee_number, class: "form-control" %>
            
            <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :uid, class: "form-control" %>
          
            <%= f.label :password,class: "label-#{yield(:class_text)}" %>
            <%= f.password_field :password, class: "form-control" %>
            
            <%= f.label :basic_time, class: "label-#{yield(:class_text)}" %>
            <%= f.time_field :basic_time, class: "form-control" %>

            <%= f.label :work_time, class: "label-#{yield(:class_text)}" %>
            <%= f.time_field :work_time, class: "form-control" %>
          
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
          <% end %>
      </td>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
</div>

<!--モーダルウィンドウ表示-->
<div id="edit_basic_info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>